*.swp
Cmder/*
Cmder/**/*
!Cmder/config/*
Cmder/config/*.swp
Cmder/config/.history
Cmder/vendor/*
!Cmder/vendor/conemu-maximus5/testing
!Cmder/vendor/conemu-maximus5/ConEmu.xml
!Cmder/vendor/profile-lori.ps1
